<!DOCTYPE html>
<html>
    <head>
        <%- include('../../layout/head') %>
    </head>
    <body>
        <header>
            <%- include('../../layout/header') %>
        </header>
    <div class="wrapper">
        <div class="search-heading">
            <h2>Search Results</h2>
        </div>
        <div>
            <% data.forEach(book => { %>
            <h1> <%= book.title %> </h1>
            <% }) %>
        </div>
    </div>
        <script src="" async defer></script>
    </body>
</html>