<!-- show.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Book Search</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/base.css">
        <link rel="stylesheet" href="../styles/layout.css">
    </head>
    <body>
    <header>
        <h1>Best Books!</h1>
    </header>
    <div class="wrapper">
        <div class="search-heading">
            <h2>Search by Title or Author</h2>
        </div>
      <form action="/searches" method="POST">
          <fieldset>
              <label>
              <input class ="inputfield" type="text" name="searchinput" placeholder="Enter a title or author" />
            </label>
            <div class="search-radio">
                <span>Title</span>
              <input type="radio" name="title"/>
            </div>
              <div class="search-radio">
                  <span>Author</span>
                  <input type="radio" name="author">
              </div>
          </fieldset>
          <button class="search-library-button">
              Search the Google Books API
          </button>
      </form>
    </div>
        
        <script src="" async defer></script>
    </body>
</html>