/* layout.css */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    background-color: black;
    color: white;
    height: 7%;

}

.logo {
    text-decoration: none;
    color: white;
}

.search-heading {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 5%;
    background-color: darkgray;
}

.search-heading a {
    text-decoration: none;
    color: white;
}

h2 {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    text-align: center;
    font-weight: bold;
}

form {
    text-align: center;
    padding: 10px;
}
.search-library-button {
    width: 75%;
    height: 5vh;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.inputfield {
    display: block;
    margin: 0 auto;
    width: 75%;
    height: 5vh;
    border-radius: 5px;
}

.search-radio {
    margin: 0 auto;
    width: 75%;
    height: 5vh;
    border-radius: 5px;
    background-color: darkgray;
    margin-top: 15px;
    margin-bottom: 15px;
}

.book-view-container {
    height: 95vh;
    overflow: scroll;
}

.search-results-container {
    height: 95vh;
    overflow: scroll;
}

footer {
    height: 5vh;
    background-color: black;
}

.book-item {
    border: 2px solid darkgray;
    border-radius: 10px;
    text-align: center;
    margin-top: 5%;
}

.book-details {
    height: 95vh;
    overflow: scroll;
    text-align: center;
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.book-item-image {
    margin-bottom: 5%;
}

.search-item {
    border: 2px solid darkgray;
    border-radius: 10px;
    text-align: center;
    margin-top: 5%;
}